* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #eff2f4;
  }

header{
    background-color: #DDC1DB;
    height: 100px;
    justify-content: center;
    align-items: center;
}

header>img{
    height: 100px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

header>img, h6{
    display:inline-block;
    user-select: none;
}

header>h6{
    font-size: 30px;
    font-family: cursive;
    color: #5B4C5B;
    position:relative;
    right: 1%;
    top: -40px;
}

.container{
    max-width: auto;
    margin: 0 auto;
    /* padding: 0 20px; */
}

.fsection {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: cursive;
    

  }

.item-1{
    font-size: 25px;
    color: #5B4C5B;
    margin-top: -130px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}

.cardVideo{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
    
}

.cardVideo img{
    margin-top: -250px;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.4s ease-in-out;
    border-radius: 20px;

}


.ssection {
    height: 1000px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
} 

.card {
    width: 1000px;
    height: 800px;
    background-color: #fff;
    color: rgb(94, 93, 93);
    box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect{
    font-size: 100px;
    width: 900px;
    height: 550px;
    border-style: dashed;
    border-width: 5px;
    border-color: #5B4C5B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-upload {
    width: 300px;
    height: 80px;
    background-color: #5B4C5B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 27px;
    font-family: cursive;
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    
}

.btn-upload:hover {
    background-color: #3d303d;
  }


.th3dsection{
    height: 250px;
    background-color: #DDC1DB;
}


.submit{
    width: 230px;
    height: 55px;
    background-color: #5B4C5B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-family: cursive;
    font-weight: 800;
    text-align: center;

}

.submit:hover {
    background-color: #3d303d;
  }

.list{
    width: 230px;
    height: 55px;
    background-color: #5B4C5B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    font-family: cursive;
    font-weight: 800;
    text-align: center;
}

.list:hover {
    background-color: #3d303d;
  }


.th3dsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DDC1DB;
    padding: 20px;
    color: #5B4C5B;
    font-size: 14px;
}

.rights{
    font-size: 30px;
    font-weight: 600;
    color: #5B4C5B;
}

.links{
    color: #f7f7f7;
    margin-left: 480px;
    width: 800px;
    height: 250px;
}

.fa-envelope {
    color: #5b4c5b;
    font-size: 60px;
    transition: color 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;

    
}

.fa-instagram{
    color: #5b4c5b;
    font-size: 60px;
    transition: color 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;

}

.fa-tiktok{
    color: #5b4c5b;
    font-size: 60px;
    transition: color 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;

}

.fa-link{
    color: #5b4c5b;
    font-size: 60px;
    transition: color 0.3s ease-in-out;
    margin: 10px;
    cursor: pointer;
    
}

.fa-link:hover {
    color: #808080; /* Change the color to your desired hover color */
}


.fa-tiktok:hover {
    color: #808080; /* Change the color to your desired hover color */
}

.fa-instagram:hover {
    color: #808080; /* Change the color to your desired hover color */
}

.fa-envelope:hover {
    color: #808080; /* Change the color to your desired hover color */
}

@media screen and (max-width: 767px) {
    .card {
      font-size: 20px;
      width: 600px;
      display: flex;
      flex-direction: column;

    }
    .rect{
      width: 500px;

    }

    .list{
        font-size: 15px;
        width: 150px;
    }
    .submit{
        font-size: 15px;
        width: 150px;
    }
    .btn-upload{
        font-size: 15px;
        width: 150px;
    }
  }
  